body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img{
    height: 175px;
    width: 125px;
    margin: 1px;
}

#my-cards img{
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit-btn{
    width: 100px;
    height:50px;
    font-size:20px;
}

#stay-btn{
    width: 100px;
    height:50px;
    font-size:20px;
}